<launch>
  <arg name="robot_name" default="tinyRobot1" doc="The name of the robot"/>
  <arg name="fleet_name" default="tinyRobot" doc="The robot fleet"/>
  <arg name="set_map_frame"  default="map" doc="The robot fleet"/>

  <group ns="$(arg robot_name)">
    <node name="free_fleet_client_node" 
        pkg="free_fleet_client_ros1"
        type="free_fleet_client_ros1" output="screen"
        respawn="true">
      <param name="fleet_name" type="string" value="$(arg fleet_name)"/>
      <param name="robot_name" type="string" value="$(arg robot_name)"/>
      <param name="dds_domain" type="int" value="42"/>
      <param name="max_dist_to_first_waypoint" type="double" value="10.0"/>
      <param name="battery_state_topic" value="battery_state"/>
      <param name="robot_frame" value="$(arg robot_name)/base_footprint"/>
      <param name="move_base_server_name" value="/$(arg robot_name)/move_base"/>
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
      <rosparam file="$(find ff_examples_ros1)/config/blank_costmap.yml" command="load"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="laser" args="0 0 0 0 0 0 1 map $(arg robot_name)/odom  100"/>
  </group>
</launch>