name: build
on: [push, pull_request]
jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-20.04
    steps:
      - name: pwd
        run: pwd
      - name: deps
        uses: ros-tooling/setup-ros@v0.1
        with:
          required-ros-distributions: foxy
      - name: build
        uses: ros-tooling/action-ros-ci@v0.2
        with:
          target-ros2-distro: foxy
          # build all packages listed in the meta package
          package-name: |
            free_fleet
          vcs-repo-file-url: |
            https://raw.githubusercontent.com/open-rmf/free_fleet/ci/free_fleet.repos
          colcon-defaults: |
            {
              "build": {
                "mixin": ["tsan"]
              }
            }
          colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
